---
label: Introduction
title: Fluxbit ViewComponents - UI Component Library for Ruby on Rails
---

<div style="display: flex; justify-content: center; align-items: center;">
  <img src="/fluxbit.png" alt="Fluxbit ViewComponents" width="300" />
</div>


Learn more about the free and open-source Flowbite React UI components and start building modern web applications using React components based on Tailwind CSS.

Flowbite React is a free and open-source UI component library based on the core Flowbite components and built with React components and interactivity handling.

This library features hundreds of interactive elements such as navbars, dropdowns, modals, and sidebars all handled by React and based on the utility classes from Tailwind CSS.
Getting started#

Learn how to get started with Flowbite React and start leveraging the interactive React components coupled with Flowbite and Tailwind CSS.