<div class="p-8 flex justify-center gap-4">
  <%= fx_button(
    class: 'relative',
    with_content: "Custom styled tooltip",
    data: {
      tooltip_target: "tooltip-custom",
      tooltip_placement: "top"
    }
  ) %>
  
  <%= fx_tooltip(
    id: "tooltip-custom",
    class: "bg-purple-600 text-white border-2 border-purple-400",
    remove_class: "bg-gray-900 dark:bg-gray-700"
  ) do %>
    Custom purple tooltip
  <% end %>
</div>