<div class="p-8 flex justify-center">
  <%= fx_button(
    class: 'relative inline-flex',
    with_content: "Tooltip without arrow",
    data: {
      tooltip_target: "tooltip-no-arrow",
      tooltip_placement: "top"
    }
  ) %>
  
  <%= fx_tooltip(id: "tooltip-no-arrow", has_arrow: false) do %>
    This tooltip has no arrow
  <% end %>
</div>