<div class="flex gap-4">
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "AB", size: :md, class: "shadow-lg border-4 border-yellow-400")) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "CD", size: :md, remove_class: "bg-gray-200", class: "bg-gradient-to-r from-purple-400 to-pink-400")) %>
</div>