<div class="flex gap-4">
  <%= render(Fluxbit::AvatarComponent.new(size: :sm)) %>
  <%= render(Fluxbit::AvatarComponent.new(size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(size: :lg)) %>
</div>