<div class="flex gap-4">
  <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=1", rounded: false, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "AB", rounded: false, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(rounded: false, size: :md)) %>
</div>