<div class="flex gap-4">
  <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=1", size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=2", size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=3", size: :md)) %>
</div>