<div class="flex gap-6">
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=1", status: :online, size: :md)) %>
    <p class="text-xs mt-2">Online</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=2", status: :busy, size: :md)) %>
    <p class="text-xs mt-2">Busy</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=3", status: :away, size: :md)) %>
    <p class="text-xs mt-2">Away</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(src: "https://i.pravatar.cc/150?img=4", status: :offline, size: :md)) %>
    <p class="text-xs mt-2">Offline</p>
  </div>
</div>