<%= fx_banner(
  position: :sticky_top,
  color: :warning,
  with_content: "📢 New features available! Check out our latest updates."
) %>

<div style="height: 100px; background-color: #f3f4f6;" class="flex items-center justify-center text-gray-600">
  <p>Content area - notice the sticky banner above</p>
</div>

<%= fx_banner(
  position: :sticky_bottom,
  color: :success,
  with_content: "✨ Don't miss out! Subscribe to our newsletter for exclusive content."
) %>