<div class="flex items-end gap-8">
  <% (0..5).each do |size| %>
    <div class="flex flex-col items-center gap-2">
      <%= render Fluxbit::SpinnerPercentComponent.new(size: size, color: :info, percent: 75) %>
      <span class="text-sm text-gray-600 dark:text-gray-400">Size <%= size %></span>
    </div>
  <% end %>
</div>