<div class="flex gap-1">
  <% Fluxbit::Config::ModalComponent.styles[:root][:placements].keys.each do |key| %>
    <%= fx_modal(id: "modal-#{key}", opened: false, static: false, placement: key, flat: true ) do |modal| %>
      <% modal.with_title do %>
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Title
          <b>
            <%= key %>
          </b>
        </h3>
      <% end %>
      <%= "Content #{key}" %>
    <% end %>

    <%= fx_button("data-modal-target": "modal-#{key}", "data-modal-toggle": "modal-#{key}", with_content: key.to_s) %>
  <% end %>
</div>
<div class="h-40"></div>