<%= fx_tab(variant: :full_width, color: :blue, vertical: false) do |tabs| %>
  <%= tabs.with_tab title: "Profile", active: true, icon: anyicon("heroicons_solid:user") do |content| %>
    <p>Profile details</p>
  <% end %>
  <%= tabs.with_tab title: "Settings", icon: anyicon("heroicons_solid:pencil") do |content| %>
    <p>Settings details</p>
  <% end %>
  <%= tabs.with_tab title: "Disabled", icon: anyicon("heroicons_solid:exclamation-triangle"), disabled: true%>
<% end %>