<div class="flex flex-col w-full items-center pt-[120px]">
  <%= fx_button(class: 'relative inline-flex mr-2 mb-5 w-36', popover_placement: :top) do |button| %>
    <% button.with_popover(title: 'Popover Title') do %>
      <p>And here's some amazing content. It's very engaging. Right?</p>
    <% end %>
    Default Popover</b></i>
  <% end %>
</div>