<% singular = file_name.singularize; plural = file_name.pluralize -%>
<%%= if @<%= singular %>.errors.any?
  turbo_stream.replace "<%= singular %>_form", partial: "<%= namespace_path %>/<%= plural %>/form", locals: { <%= plural %>: [@<%= singular %>] }
else
  flash[:notice] = @message
  turbo_stream.action :refresh, "body"
end %>