<%%# Turbo Stream response for DESTROY action %>
<%%= turbo_stream.remove "<%%= dom_id(@<%= file_name %>) %>" %>
<%%= turbo_stream.replace "notice", fx_alert(with_content: "<%= class_name %> was successfully deleted.", variant: :success) %>
