<% singular = file_name.singularize -%>
<%%= turbo_stream.remove dom_id(@<%= singular %>) %>
<%%= turbo_stream.append "notice", fx_alert(with_content: @message, color: @<%= singular %>.errors.any? ? :danger : :success) %>
