<div class="space-y-3">
  <%= fx_help_text(color: :info) do %>
    We'll send you a confirmation email after registration
  <% end %>

  <%= fx_help_text(color: :info) do %>
    Your data is encrypted and stored securely
  <% end %>

  <%= fx_help_text(color: :info) do %>
    Tip: Use a strong password with at least 12 characters
  <% end %>

  <%= fx_help_text(color: :info) do %>
    You can change these settings later in your profile
  <% end %>
</div>