<div class="space-y-3">
  <%= fx_help_text(color: :warning) do %>
    Your subscription expires in 3 days
  <% end %>

  <%= fx_help_text(color: :warning) do %>
    This action cannot be undone
  <% end %>

  <%= fx_help_text(color: :warning) do %>
    File size is larger than recommended (5MB)
  <% end %>

  <%= fx_help_text(color: :warning) do %>
    Password strength: Weak. Consider adding numbers and symbols.
  <% end %>
</div>