<div class="space-y-4">
  <%= fx_toggle(
    label: "Default Button",
    name: "button_default",
    button_color: :default,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Success Button",
    name: "button_success",
    button_color: :success,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Danger Button",
    name: "button_danger",
    button_color: :danger,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Info Button",
    name: "button_info",
    button_color: :info,
    checked: true
  ) %>
</div>