<div class="space-y-6">
  <%= fx_range(
    name: "volume",
    label: "Volume",
    value: 50,
    min: 0,
    max: 100
  ) %>

  <%= fx_range(
    name: "brightness",
    label: "Brightness",
    value: 75,
    min: 0,
    max: 100
  ) %>

  <%= fx_range(
    name: "quality",
    label: "Quality",
    value: 8,
    min: 1,
    max: 10
  ) %>
</div>