<div class="space-y-6">
  <%= fx_upload_image(
    name: "profile_photo",
    label: "Profile Photo"
  ) %>

  <%= fx_upload_image(
    name: "avatar",
    label: "Avatar Image",
    title: "Upload"
  ) %>

  <%= fx_upload_image(
    name: "cover_photo",
    label: "Cover Photo",
    title: "Choose Image"
  ) %>
</div>