<div class="flex gap-4 items-center">
  <%= fx_gravatar(
    email: "user@example.com",
    size: :md,
    class: "ring-4 ring-blue-300 shadow-lg"
  ) %>
  <%= fx_gravatar(
    email: "user@example.com",
    size: :md,
    remove_class: "relative",
    class: "border-4 border-green-500"
  ) %>
</div>