<div class="flex gap-4">
  <%= fx_gravatar(email: "user1@example.com", size: :md) %>
  <%= fx_gravatar(email: "user2@example.com", size: :md) %>
  <%= fx_gravatar(email: "user3@example.com", size: :md) %>
</div>