<div class="flex gap-4 items-center">
  <%= fx_gravatar(email: "user1@example.com", rounded: false, size: :md) %>
  <%= fx_gravatar(email: "user2@example.com", rounded: false, size: :md) %>
  <%= fx_gravatar(email: "user3@example.com", rounded: false, size: :md) %>
</div>