<div class="flex gap-4 items-center">
  <%= fx_gravatar(email: "user@example.com", status: :online, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", status: :busy, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", status: :away, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", status: :offline, size: :md) %>
</div>