<div class="flex flex-wrap gap-6">
  <%= fx_check_box(
    name: "terms",
    label: "Terms",
    value: "1",
    class: "inline-flex"
  ) %>
  <%= fx_check_box(
    name: "privacy",
    label: "Privacy",
    value: "1",
    class: "inline-flex"
  ) %>
  <%= fx_check_box(
    name: "newsletter",
    label: "Newsletter",
    value: "1",
    class: "inline-flex"
  ) %>
</div>