<div class="space-y-2">
  <%= fx_check_box(
    type: :radio_button,
    name: "payment_method",
    value: "credit_card",
    label: "Credit Card",
    checked: true
  ) %>
  <%= fx_check_box(
    type: :radio_button,
    name: "payment_method",
    value: "paypal",
    label: "PayPal"
  ) %>
  <%= fx_check_box(
    type: :radio_button,
    name: "payment_method",
    value: "bank_transfer",
    label: "Bank Transfer"
  ) %>
</div>