<div class="space-y-4">
  <%= fx_check_box(
    name: "newsletter",
    label: "Subscribe to newsletter",
    value: "1",
    help_text: "We'll send you updates about new features and products."
  ) %>
  <%= fx_check_box(
    name: "privacy_policy",
    label: "I agree to the privacy policy",
    value: "1",
    help_text: "Please read our privacy policy carefully before agreeing."
  ) %>
</div>