<%= fx_alert(dismiss_timeout: 0) do %>
  <span class="font-medium">Ensure that these requirements are met:</span>
  <ul class="mt-1.5 list-disc list-inside">
    <li>At least 10 characters (and up to 100 characters)</li>
    <li>At least one lowercase character</li>
    <li>Inclusion of at least one special character, e.g., ! @ # ?</li>
  </ul>
<% end %>
