<%= fx_modal(id: 'modal', title: 'A title') do %>
  Content of the modal
<% end %>

<%= fx_button("data-modal-target": "modal", "data-modal-toggle": "modal", with_content: 'Open modal') %>

<div class="h-40"></div>

