<%= fx_modal(id: 'modal', title: 'A static title', static: true) do %>
  Content of the static modal
<% end %>

<%= fx_button("data-modal-target": "modal", "data-modal-toggle": "modal", with_content: 'Open modal') %>

<div class="h-40"></div>
